.page-title{
    font-size: 26px; 
    font-weight: 700; 
    color: white; 
    text-align: center;
}

.food-name{
    font-size: 22px;
    color: white; 
    margin-left: 100px;
}

.details{
    font-size: 18px; 
    color: white; 
}